@font-face {
    font-family: Bebas-neue;
    font-weight: 200;
    src: url("fonts/BebasNeue-Thin.ttf") format("truetype"), 
    url("fonts/BebasNeue-Thin.otf") format("opentype");
}

@font-face {
    font-family: Bebas-neue;
    font-weight: lighter;
    src: url("fonts/BebasNeue-Light.ttf") format("truetype"),
    url("fonts/BebasNeue-Light.otf") format("opentype");
}

@font-face {
    font-family: Bebas-neue;
    font-weight: 400;
    src: url("fonts/BebasNeue-Regular.ttf") format("truetype"),
    url("fonts/BebasNeue-Regular.otf") format("opentype");
}

@font-face {
    font-family: Bebas-neue;
    font-weight: 600;
    src: url("fonts/BebasNeue-Regular.ttf") format("truetype"),
    url("fonts/BebasNeue-Regular.otf") format("opentype");
}

@font-face {
    font-family: Bebas-neue;
    font-weight: 700;
    src: url("fonts/BebasNeue-Bold.ttf") format("truetype"),
    url("fonts/BebasNeue-Bold.otf") format("opentype");
}

@font-face {
    font-family: Helvetica-neue;
    font-weight: 200;
    src: url("fonts/HelveticaNeueLTStd-Th.otf") format("opentype");
}

@font-face {
    font-family: Helvetica-neue;
    font-weight: lighter;
    src: url("fonts/HelveticaNeueLTStd-Lt.otf") format("opentype");
}

@font-face {
    font-family: Helvetica-neue;
    font-weight: 400;
    src: url("fonts/HelveticaNeueLTStd-Md.otf") format("opentype");
}

@font-face {
    font-family: Helvetica-neue;
    font-weight: 600;
    src: url("fonts/HelveticaNeueLTStd-Bd.otf") format("opentype");
}
