html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Bebas-neue;
}

#bg-image {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: url(graveyard2.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

#bg-image2 {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: url(graveyard2.png) no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

button#steam {
    position: absolute;
    top: 60vh;
    left: 50vw;
    transform: translateX(-50%);
}

.wrapper {
    position: absolute;
    color: azure;
    margin: 15px 10px;
    
}

.foot{
    position: absolute;
    color: azure;
    bottom: 0px;
    z-index: 10;
}

.wrapper img {
    width: 50px;
    height: 50px;
}

h1#title {
    position: absolute;
    top: 40vh;
    left: 45vw;
    width: 50vw;
    font-weight: bold;
    font-size: 12em;
    white-space: nowrap;
    overflow: hidden;
    z-index: -5;
    color: #212529;
}

.wrapper h2 {
    font-weight: bold;
    transform: skew(-15deg);
    margin-left: 10px;
}

.modal-title {
    font-weight: bold;
    font-size: 3em;
    padding-left: 5px;
}

.modal-header, .modal-footer {
    border: 0;
}

.modal-footer, .modal-body {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.05rem;
}

.modal-header {
    transform: skew(-15deg);
    margin-left: 10px;
}

.modal-body {
    text-transform: uppercase;

}

.form-group {
    width: 100%;
    margin: 0px 35px 10px 35px;
}

.break {
    flex-basis: 100%;
    height: 0;
    margin: 0;
}

#trouble p{
    margin: 0;
    line-height: 1rem;
    color: grey;

}

#trouble p:hover {
    color: white;
    cursor: pointer; 
}


#steam {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.05rem;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

b {
    text-transform: uppercase;
}

p2 {
    display: inline;
    text-transform: none;
}